@media screen and (max-width: 775px) {
    .pokemon-card {
        width: 25rem;
    }

    .title {
        font-size: 1.5rem;
    }

    header img {
        width: 28%;
    }
}

@media screen and (max-width: 500px) {
    header img {
        width: 35%;
    }
    .pokemon-card:hover {
        transform: scale(1);
    }
}

@media screen and (max-width: 650px) {
    .card-zoom-description img:first-of-type {
        width: 120px;
        top: -7.5rem;
    }
}